h1{
    margin-left:19rem;
    padding:1rem;
}

#btns{
    margin-left:75rem;
    padding:1rem;
    position:relative;
    top:-5rem;
}

iframe{
    margin-left:75rem;
    width:500px; 
    height:500px;
}